{% extends 'events/main.html' %}
{% block content %}
     {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{{ message.tags }} " role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                </button>
                <p> {{ message }}</p>
            </div>
         {% endfor %}
    {% endif %}


    <div class="container mt-4">
        <h1 class="mr-auto d-inline">All Events</h1>
        <a class="btn btn-success float-right d-inline" href="{% url 'events:new' %}">+ New Event</a>
        <div class="row mt-4">
            {% if all_events %}
                {% for event in all_events %}
                    <div class="col-md-4">
                        <div class="card">
                            <a href="">
                                <img class="card-img-top" src="{{ event.image_url }}" alt="Card image">
                                <p class="card-title">Title: {{ event.title }}</p>
                                <p class="card-text">{{ event.description }}</p>
                                <p>{{ event.appointment_date }}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No events.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}