{% extends 'events/main.html' %}
{% block content %}

    <div class="container mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} " role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-3 col-12">
                {% include 'components/sidenav.html' %}
            </div>
            <div class="col-md-9 col-12">
                <h1 class="d-inline">All Events</h1>
                <a class="btn btn-success float-right d-inline {% if not user.is_authenticated %} disabled {% endif %}"
                   href="{% url 'events:new' %}">+ New Event</a>
                <div class="row mt-4">
                    {% if all_events %}
                        {% for event in all_events %}
                            <div class="col-md-4 col-6">
                                {% include 'components/event_card.html' %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No events.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}