{% extends 'events/main.html' %}
{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3 col-12">
                {% include 'components/sidenav.html' %}
            </div>
            <div class="col-md-9 col-12">
                <h1 class="d-inline">{{ category | capfirst }}</h1>
                <a class="btn btn-success float-right d-inline" href="{% url 'events:new' %}">+ New Event</a>
                <div class="row mt-4">
                    {% if events_in_category %}
                        {% for event in events_in_category %}
                            <div class="col-md-4 col-6">
                                {% include 'components/event_card.html' %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No events in this category.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}