{% load static %}
<style>
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
</style>
<a href="{% url 'events:event_detail' event.category event.slug %}" style="text-decoration: none">
    <div class="card my-3 shadow" {% if event.is_hot %}style="background-color: lightblue;"{% endif %}>
        <img class="card-img-top img-fluid" src={{ event.image_upload.url }} alt="{{ event.title }}">
        <div class="card-body">
            <h5 class="card-title">
                {% if event.title|length <= 36 %}
                    {{ event.title }}
                {% else %}
                    {{ event.title|slice:":33" }}...
                {% endif %}
            </h5>
            <small 
                    class="card-subtitle text-muted"
            >{% if not event.is_outdated %}
                {{ event.appointment_date|date:"D d M Y" }} {{ event.appointment_date|time:"H:i" }}
            {% else %}
                Expired.
            {% endif %}</small>
        </div>
    </div>
</a>