<div class="card p-3">
    <h3 class="mb-3">Category</h3>
    <div class="list-group">
        <a
                href="{% url 'events:feed' %}"
                class="list-group-item list-group-item-action {% if all_events_active %}active{% endif %}">All
            Events</a>
        <a
                href="{% url 'events:events_by_category' 'eating' %}"
                class="list-group-item list-group-item-action {% if category == 'eating' %}active{% endif %}">Eating</a>
        <a
                href="{% url 'events:events_by_category' 'sport' %}"
                class="list-group-item list-group-item-action {% if category == 'sport' %}active{% endif %}">Sport</a>
        <a
                href="{% url 'events:events_by_category' 'party' %}"
                class="list-group-item list-group-item-action {% if category == 'party' %}active{% endif %}">Party</a>
    </div>
</div>
