<style>
    .index-header {
        padding: 4em 12em;
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    }
</style>

{% extends 'events/main.html' %}
{% block content %}
    {% load static %}

    <div class="index-header"style="background-color: lightskyblue">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="text-left" style="font-size: 3em">Meet new friends who love the same things</h1>
                <a class="btn btn-success mt-3" href="" style="font-size: 1.5em; width: 11em; height: 3em; padding-top: 0.7em">Join Jix</a>
            </div>
            <div class="col-12 col-md-6" >
                <img class="img-fluid" src="{% static "jix/people.png" %}" alt="thumbnail">
            </div>

        </div>
    </div>

{% endblock %}